<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h3>Recipes</h3>
  <table class="table table-striped">
      <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
      </tr>
      <tr th:each="recipe : ${recipes}">
          <td>
              <a th:href="'/recipe/' + ${recipe.id}">View</a>
              |<a th:href="'/recipe/edit?id=' + ${recipe.id}">Edit</a>
              |<a th:href="'/recipe/delete/'+${recipe.id}">Delete</a>
          </td>
          <td th:text="${recipe.name}"></td>
          <td th:text="${recipe.description}"></td>
          <td >
              <ul style="list-style-type:none;" >
                  <li th:each="category : ${recipe.categories}" th:text="${category.name}"></li>
              </ul>
          </td>
      </tr>

  </table>
</body>
</html>