body {
    padding: 30px;
    margin: 10px 10px;
    position: absolute;
}

h2 {
    margin: 2px 0 3px;
        width: 20%;
        position: fixed;
        padding: 8px 0 8px;
        top: 100px;
        left: 710px;
        text-align: center;
        font-family: calibri;
        background-color: #88e6e9;
        border-style: outset;
        border-color: #000;
}

h1 {
        width: 120%;
        position: relative;
        text-align: center;
        right: -570px;
        font-family: calibri;
        background-color: #f0f8c6;
        border-radius: 25px;
        border: 2px solid #000;
}
div.field {
    position: relative;
}

label {
    font-size: 20px;
    position: absolute;
    top: -7px;
    left: 3px;
    font-family: calibri;
}

input {
    width: 94%;
    height: 30%;
    position: relative;
    top: 50%;
    margin: 22px 0px 20px 10px;
    border-style: solid;
    border-color: #000;
    font-family: calibri;
}

input[type=number] {
    width: 20%;
    left:300px;
    bottom: -90px;
    position: relative;
    border-radius:3px;
    border: 1px solid #000;
    text-align: center;
}

input[type=submit] {
    bottom: 500px;
    left: -240px;
    width: 100%;
}

.breakfast {
    color: #35d4da;
    top: 90px;
}

.lunch {
    color: #414bb2;
    top: 90px;
}

.dinner {
    color: #8fd14f;
    top: 90px;
}

.snacks {
    color: #fac710;
    top: 90px;
}

.exercise {
    color: #0ca789;
    top: 90px;
}

.kCalories {
    color: #36d4da;
    position: relative;
    left: 800px;
    top: -550px;
    font-family: calibri;
}

.fieldset1 {
    left: 300px;
    bottom: 255px;
    position: relative;
        width: 20%;
        height: 10%;
        text-align: center;
        border-style: solid;
        border-color: #000;
}

.fieldset2 {
    left: 50px;
    bottom: 200px;
    position: relative;
        width: 20%;
        height: 10%;
        text-align: center;
        border-style: solid;
        border-color: #000;
}

.totalText2 {
    bottom: -200px;
    left: 90px;
    width: 300px;
    position: relative;
}

.kcalValue {
    color: #35d4da;
    font-family calibri;
    font-size 18px;
    top: -250px;
    left: -350px;
    position: relative;
}

.col-sm-10 {
    top: -230px;
    left: 300px;
}

.sum {
    bottom: -900px;
    position: relative;
}

.myImg {
    left: 700px;
    top: -120px;
    position: relative;
}