<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div>
    <h2 align ="center"> Forgot Password</h2>
</div>
  <div th:if="${error != null}">
        <p class="text-danger">[[${error}]]</p>
    </div>
    <div class="container">
    <form th:action="@{/forgot-password}" method="post" style="max-width: 350px; margin: 0 auto;">

            <div>
                <p>We will be sending a reset password link to your email.</p>
            </div>
            <div>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
                </p>
                <p class="text-center">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </p>
            </div>
        <div th:if="${message != null}">
            <p align="center" class="text-warning">[[${message}]]</p>
        </div>
    </form>
</div>
</html>