<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<h1>My Profile</h1>

<head>
    <meta charset="UTF-8">
    <h2>My Account</h2>
</head>
<body>
<form method='post' action='title'>
    <div>
        <label>First Name</label>
        <input type="text" name='firstName'/>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" value ='Last'/>
    </div>
    <div>
        <label>Email</label>
        <input type="text" value ='email'/>
    </div>
    <div>
        <label>Password</label>
        <input type="text" name ='password'/>
    </div>
    <div>
        <label>Gender</label>
        <input type="text" name ='name'/>
    </div>
    <div>
        <label>Age</label>
        <input type="text" name ='name'/>
    </div>
    <div>
        <label>Contact Number</label>
        <input type="text" name ='name'/>
    </div>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>